NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Adsterra ad zone keys (get these from your Adsterra dashboard)
NEXT_PUBLIC_ADSTERRA_KEY_HOME=
NEXT_PUBLIC_ADSTERRA_KEY_CREATE=
NEXT_PUBLIC_ADSTERRA_KEY_DATE=
